
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  
.button3 {
  background-color:#683181 ;
  text-align: center;
    top: 50%;
    left: 40%;
    margin: 0;
  position: absolute;
  border-radius: 12px;

}
.button3 a{
  color: white;
}
.button3 h1{

  font-size: 16px;
}
</style>
<body>

<div class="header2">
  <h1>Bugzilla</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Account', edit_user_registration_path  %>
		<%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
	<% else %>
		<%= link_to "Sign In     " , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>

	<%end %>
</div>
</head>

</body>
</html>
<% if current_user %>
  <button class="button3">
    <h3><%= link_to 'View All Projects', projects_path %></h3>
  </button>
<%else %>
  <h4>Please Sign in to see Projects</h4>
<% end %>