
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
	margin-top: -20px;
  padding: 10px;
  padding-right: 100px; 
  text-align: right;
  background:#683181;
  color: white;
  font-size: 30px;
}
.header a{
  color: white;
}

a:link {
	color:white;

}
.header2 {
	margin-top: -30px;
	text-align: left;
  padding: 10px;
  background:     #683181    ;
  color: white;
  color
  font-size: 30px;
}
.button {
  text-align: center;
  background-color: #683181;
  border: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 130px;
   margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button a{
  color: white;

}
</style>
<body>

<div class="header2">
  <h1>Bugzilla</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Account', edit_user_registration_path  %>
		<%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
	<% else %>
		<%= link_to "Sign In     ." , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>

	<%end %>
</div>
</head>

</body>
</html>
<% if current_user %>
  <div class="button">
    <%= link_to 'View All Projects', projects_path %>
  </div>
<% end %>