
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<style >
  
  .add_color a{

    color: black;
  }
</style>
<div class="header2">
  <h1>Test Project</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Home', dashboard_index_path %>
    <%= link_to 'Account', edit_user_registration_path  %>
    <%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
  <% else %>
    <%= link_to "Sign In     " , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>
  <%end %>
</div>

</head>

</body>
</html>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Userid</th>

    <th></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.user_type %></td>
      <div class="add_color">
        <%if user == @project.users.find_by(id: user.id) %> 
          <td><%= link_to 'Remove Developer', remove_developer_project_path(@project.id,user_id: user.id)  %></td>
        <%else%>
          <td><%= link_to 'Add Developer', add_developer_project_path(@project.id,user_id: user.id)  %></td>
        <%end %>
      </div> 
    </tr>
  <% end %>
</table>
</body>
<%= link_to 'Back', projects_path %>

