
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="header2">
  <h1>Test Project</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Account', edit_user_registration_path  %>
    <%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
  <% else %>
    <%= link_to "Sign In     ." , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>

  <%end %>
</div>

</head>

</body>
</html>


<h1>Edit Project</h1>
 
<%= form_with(model: @project, local: true) do |form| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
<%= link_to 'Back', projects_path %>