
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: white;

}

.grid-container > div {
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;

  background-color: white;
  padding: 00px;
}
.grid-container2 > div {
  text-align: center;
  padding: 5px 0;

  font-size: 16px;
}
 .item1 {
  font-size: 22px; 
}
.grid-container h2{

  color: #683181 ;
}
.functions h1{
  color: #683181;
  font-size: 50px; 

  text-align: center;
}
.button5 {
  background-color: #008CBA;
  text-align: center;

    left: 45%;
    margin: 0;
  position: absolute;
    border-radius: 12px;


}

.button2 {background-color: #4CAF50;  border-radius: 12px;
}
.button4 {background-color: #f44336;  border-radius: 12px;
} /* Red */ 
.button3 {background-color: #e7e7e7; color: black;  border-radius: 12px;
} /* Gray */ 
</style>

<body>

<div class="header2">
  <h1>Bugzilla</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Home', dashboard_index_path %>
    <%= link_to 'Account', edit_user_registration_path  %>
    <%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
  <% else %>
    <%= link_to "Sign In     ." , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>

  <%end %>
</div>

</head>

</body>
</html>

<div class="functions">
  <%if current_user && current_user.projectmanager? %>
    <p> You are signed in as project manager </p>
  <% elsif current_user && current_user.qa? %>
    <p> You are signed in as QA </p>
  <%elsif current_user && current_user.developer? %>
    <p> You are signed in as developer </p>
  <%end %>
  <h1>All Projects</h1>
  <div class="grid-container">
    <div class="item1"><h2>Title </h2></div>
    <div class="item1"><h2>text</h2></div>
    <div class="item1"><h2>Action </h2></div>

  </div> 
  <p></p>
  <% @projects.each do |project| %>
  <hr>
    <div class="grid-container2">
      <% if policy(project).qa? || policy(project).pm? %>

        <div class="item2">
            <p><%= project.title %></p>

        </div>

        <div class="item2">
            <p><%= project.body %></p>

        </div>
    
        <div class="item4">
          <p>
          <button class="button2">
            <%= link_to 'Show', project_path(project) %>
          </button>
          <%if current_user && current_user.projectmanager? && project.user_id == current_user.id %>
            <button class="button3">
              <%= link_to 'Edit', edit_project_path(project) %>
            </button>
            <button class="button4">
              <%= link_to 'Destroy', project_path(project),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            </button>
          </p> 
          <%end %>
        </div>    

      <%elsif policy(project).dev? %>
        <% if project == current_user.projects.find_by(id: project.id)%>
          <div class="item2">
            <%= project.title %>
          </div>
          <div class="item2">
            <%= project.body %>
          </div>
        
          <div class="item2">
            <button class="button2">
              <%= link_to 'Show', project_path(project) %>
            </button>
          </div>
          
        <% end %>   
      <%end %>
    </div>  
  <% end %>
</div>

<hr>
<%if policy(@projects).create? %>
   <button class="button5">
    <p><%= link_to 'Add New project', new_project_path %></p>
  </button>
<%end %>