
<html lang="en">
<head>
<title>Page Title</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="sNMk592JV2wwHn6DPJ8C5oy/hHDnjIlZBOHyngtTbpQ=" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
	$(document).ready(function () {
		$("#formButton").click(function(){
	    $("#form1").toggle();
	    });
	});
</script>
<style>
	
	 .item1 {
	 	margin-left: -30px;
  font-size: 18px; 
  grid-row: 1;
}
.functions h3{

  color: #683181;
  font-size: 20px; 

  text-align: center;
}

.item1 h3
{
	font-size: 20px;
	color: #683181;
}
hr{

   margin-left: 50px;
  margin-right:50px ;
}
.button2 {background-color: #4CAF50;  border-radius: 12px;
}
.button4 {background-color: #f44336;  border-radius: 12px;
} /* Red */ 
.button3 {background-color: #e7e7e7; color: black;  border-radius: 12px;
} /* Gray */ 
</style>

<body>

<div class="header2">
  <h1>Bugzilla</h1>
  <p>By Muneeb</p>
</div>

<div class="header">
  <% if current_user %>
    <%= link_to 'Home', dashboard_index_path %>
    <%= link_to 'Account', edit_user_registration_path  %>
		<%= link_to 'Sign Out',destroy_user_session_path , method: :delete %>
	<% else %>
		<%= link_to "Sign In     ." , new_user_session_path  %>
    <%= link_to ' Sign Up', new_user_registration_path  %>
	<%end %>
</div>


<h4>
  <strong>Title:</strong>
  <%= @project.title %>
</h4>
 
<h4>
  <strong>Text:</strong>
  <%= @project.body %>
</h4>
<h4>
  <strong>User:</strong>
 	 <%= @project.user.email.split('@')[0].capitalize %>
</h4>
<p> </p>
<%if current_user && current_user.projectmanager? && @project.user_id == current_user.id %>
	<div class="item4">
		<%if policy(@project).create? %>
			<p>
      <button class="button2">
				<%= link_to 'click to add developers', assign_project_to_developer_project_path(@project.id) %>
			</button>	

       <button class="button3">
	      <%= link_to 'Edit Project', edit_project_path(@project) %>
			</button>
      <button class="button4">
	      <%= link_to 'Destroy', project_path(@project),
	              method: :delete,
	              data: { confirm: 'Are you sure?' } %>
	    </button>
	    </p>  
	  <% end %>
	</div> 
<% end %>

<div class= functions>
	<h1>Bugs</h1>
</div>
<% if @project.bugs %>
	<% if @project.bugs.present? %>

	  <div class="grid-container">
	    <div class="item1"><h3>Title </h3></div>
	    <div class="item1"><h3>Description</h3></div>
	    <div class="item1"><h3>Image</h3></div>
	    <div class="item1"><h3>Bug type</h3></div>
	    <div class="item1"><h3>Bug Status</h3></div>
	    <div class="item1"><h3>Action</h3></div>
	    <div class="item1"><h3>Assigned to</h3></div>

	  </div>
	  <%= render @project.bugs%>
	<% else %>
			<div class="grid-container">
    		<div class="item2"><h4>No bugs found for this project </h4></div>
  		</div>
	<%end%>
<%end %> 

<% if current_user && current_user.qa? %>
	<h1> Want to Add a Bug ? </h1>
			<%= render 'bugs/form'%>

<%end %>

<p> </p>
<%= link_to 'Back', projects_path %>
</head>

</body>
</html>