
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: white;

}

.grid-container > div {
  text-align: center;
  padding: 0px 0;
  font-size: 16px;
  margin-right: 10px
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0px;
  background-color: white;
  padding: 10px;
}
.grid-container2 > div {
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
  table-layout: fixed;
  width: 40px;
  margin-left: 70px;
}
 .item1 {
  font-size: 22px; 
  grid-row: 1;
}
.item2 a{
  color: black; 
}
 .item2 {
  font-size: 16px; 
  grid-row: 1;
}
.grid-container h2{

  color: #683181 ;
}
.functions h1{
  color: #683181;
  font-size: 30px; 

  text-align: center;
}
.button5 {
  background-color: #008CBA;
  text-align: center;

    left: 45%;
    margin: 0;
  position: absolute;

}
hr{

  margin-left:  50px;
  margin-right: 50px ;
}
.button2 {background-color: #4CAF50;}
.button4 {background-color: #f44336;} /* Red */ 
.button3 {background-color: #e7e7e7; color: black;} /* Gray */ 
</style>
</head>
</html>


<hr>
<div class="grid-container2">
  <div class="item2">
   
      <%= bug.title%>
    
  </div>   
  <div class="item2">
  
      <%= bug.body%>
    
  </div>
  <div class="item2">
    <% if bug.image.present?%>
      <div style = "width:100px; height:70px">
        <%= link_to image_tag(bug.image, style: 'width:100%', padding: '200px', margin: '10px'),projects_path %>
      </div>
      <%else %>
        <p>
          <strong>No Attachment found</strong>
        </p>
    <% end %>
  </div>
   <div class="item2">
    <p>
      <%= bug.bug_type%>
    </p>
  </div>
  <div class="item2">
    <p>
      <%= bug.project_bug_status%>
    </p>
  </div>

  <div class="item2">
    <p>
    <%if policy(bug).dev? || policy(@project).qa? %>
        <button class="button2">
          <%= link_to 'Show', bug_path(bug,project_id: @project.id) %>
        </button>
        <%if policy(@project).qa? && bug.creator_bug_id== current_user.id%>
          <button class="button4">
            <%= link_to 'delete',  bug,
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
          </button>
        <%end %>
    <% end %>
    </p>
  </div>

  <div class="item2">

    <%if (policy(@project).pm? || policy(bug).dev?) && current_user.id == bug.user_bug_id && bug.project_bug_status!='completed'%>
      <p> Taken By id:"<%= bug.user_bug_id %>"</p>
    <%elsif bug.project_bug_status=='completed'%>
      <p> Completed By id:"<%= bug.user_bug_id %>"</p>
    <%elsif (policy(@project).pm? || policy(bug).dev?) && bug.user_bug_id%>
    <p> Taken </p>
    <% end %>
  </div>

</div>

