<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Populate City Dropdown Based on Country Selected</title>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  $(document).ready(function () {
    $("#select1").change(function() {
      if ($(this).data('options') === undefined) {
        /*Taking an array of all options-2 and kind of embedding it on the select1*/
        $(this).data('options', $('#select2 option').clone());
      }
      var id = $(this).val();
      var options = $(this).data('options').filter('[value=' + id + ']');
      $('#select2').html(options);
    });
  });
</script>


<%= form_with(model: [ @project, @project.bugs.build ], local: true) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
  </p>
  <p>
    <%= form.label :description%><br>
    <%= form.text_area :body%>
  </p>

  <p>
    <%= form.label :image%><br>
    <%= form.file_field :image%>
  </p>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <select name="select1" id="select1">
    <option value="1">Bug</option>
    <option value="2">feature</option>
  </select>

  <select name="select2" id="select2">
    <option value="1">New</option>
    <option value="1">Started</option>
    <option value="1">resolved</option>
    <option value="2">New</option>
    <option value="2">Started</option>
    <option value="2">Completed</option>
  </select>
</head>
</html>


<!--     <% class_type = ["Bug","Feature"] %>
  <div class ="field">
    <%= form.label :type, 'ProjectStatus:' %>
    <%= form.select(:type, class_type,{}) %>
  </div>


    <% class_type = ["New","Started","Completed"] %>
  <div class ="field">
    <%= form.label :projectstatus, 'ProjectStatus:' %>
    <%= form.select(:projectstatus, class_type,{}) %>
  </div>
 -->
  <p>
    <%= form.submit %>
  </p>
<% end %>