  
<%= form_with(model: [ @project, @project.bugs.build ],:authenticity_token => true ,local: true) do |form| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%= csrf_meta_tags %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
  </p>
  <p>
    <%= form.label :description%><br>
    <%= form.text_area :body%>
  </p>

  <p>
    <%= form.label :image%><br>
    <%= form.file_field :image%>
  </p>
  


  <div class="field">
    <% bug_type=['Bug','Feature'] %>
    <%= form.label :bugtype %>
    <%= form.select :bug_type, bug_type, {}, id: :bug_type ,onchange: "getoption()" %>
  </div>

  <script>

  function getoption() {
    var options=[ ['New','Started','Resolved'],['New','Started','Completed']];
    var x= document.getElementById("bug_type").selectedIndex;
    var i;
    var option="";
    for(i =0;i<options[x].length;i++)
    {
      option += '<option value ="'+options[x][i]+'"'+'>'+options[x][i]+'</option>';
    }
    document.getElementById("project_bug_status").innerHTML=option;
  }

  </script>

  <div class="field">
    <%= form.label :project_bug_status %>
    <%= form.select(:project_bug_status,['New','Started','Completed'], {},id: :project_bug_status) %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>
