<!DOCTYPE html>
<html>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
/*.notice1 {
  margin-top: 10px;
  padding: 10px;

  color: black;
}*/
</style>
  <head>
    <title>Testproject3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <div class="notice1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>

  </body>
</html>
