<!DOCTYPE html>
<html>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
/* Header/Logo Title */
.header {
  margin-top: -30px;
  padding: 10px;
  padding-right: 100px; 
  text-align: right;
  background:#683181;
  color: white;
  font-size: 20px;
}
.header a{
  color: white;
}

/*a:link {
  color:white;
}
*/
.header2 {
  margin-top: -20px;
  text-align: left;
  padding: 10px;
  background:#683181;
  color: white;
  }
  .add_color a
  {
    color: black;
  }

</style>
  <head>
    <title>Testproject3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <div class="notice1">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    </div>

  </body>
</html>